@media screen {

.image {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 40px;
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.image-caption {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    text-align:center;
}

#byline {
    font-family: "Playfair Display", serif;
    line-height: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #da020e;
    font-size: 20px;
}

#start {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    margin:auto;
}

blockquote {
    font-family: "Open Sans", sans-serif;
    float: center;
    font-size: 25px;
    text-align: center;
}

.images {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .video {
        width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    }
    
hr {
    color: black;
}

.source {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #da020e;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
}

.quotes {
    width: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.points {
    width:100%;
}


.disclaimer {
    font-style:italic;
    font-family: "Open Sans", sans-serif;
}

.disclaimer a {
    color:#da020e;
}

.disclaimer a:hover {
    color:black;
}

}

@media (min-width:576px) {
    h1 {
        font-size:60px;
    }
    #start {
        width: 70%;
    }
}

@media (min-width:768px) {
    h1 {
        font-size:80px;
    }
}